body{
  overflow-x: hidden;
  margin: 0;
}

h1{
  margin: 0;
  color: #ffffff;
}
a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding: 0;
}

//rozmer loga v hlavicce
//.header > img{
//  height: 50px;
//}