html {
  scroll-behavior: smooth;
  scroll-padding-top: 51px;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  color: #ffffff;
  font-family: Helvetica, Calibri, Arial, serif;
}

figure {
  padding-left: 2.5rem;
  padding-top: 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.link--logo {
  margin-left: 1rem;
}

//------------------------------------
//sipka na uvodni strane
a > .fas:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.5s all;
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
}
.fas {
  color: rgba(255, 255, 255, 0.5);
  -webkit-animation: change-color 4s ease 0s infinite normal;
  -moz-animation: change-color 4s ease 0s infinite normal;
  -ms-animation: change-color 4s ease 0s infinite normal;
  animation: change-color 4s ease 0s infinite normal;
  font-size: 4rem;
  margin-bottom: 4rem;
}
@-webkit-keyframes change-color {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes change-color {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}

//---------------------------------------------------------------

//rozmer loga v hlavicce
//.header > img{
//  height: 50px;
//}
a[target^="_blank"]:after,
a[href^="tel:"]:after,
a[href^="mailto:"]:after {
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-style: normal;
  padding-left: 0.5rem;
}
a[target^="_blank"]:after {
  content: "\f35d";
}
a[href^="mailto:"]:after {
  content: "\f0e0";
}
a[href^="tel:"]:after {
  content: "\f095";
}

.grecaptcha-badge {
  display: none !important;
}
.wp-block-cover img.wp-block-cover__image-background {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  text-align: center;
  aspect-ratio: auto;
}

.section--projects {
  .sdm,
  .csa,
  .kom,
  .cfm {
    display: none;
  }
}
