.para {
  font-family: Serif, "Times New Roman", Arial;

  &--introduction {
    color: white;
  }
}

.hide-information,
.more-information {
  font-family: Helvetica, Arial, Tahoma, serif;
  font-size: 1.3rem;
  font-weight: bold;
}
