.button {
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: Calibri, Arial, serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 250ms;

  &--corner {
    background: linear-gradient(45deg, transparent 5%, #ffd300 15%);
    border-right: 0.7rem solid #00324a;
    border-radius: 0 0.2rem 0.2rem 0;
    color: #00324a;
    letter-spacing: 1px;
    padding-left: 1.3rem;
    position: relative;

    &:hover {
      background: linear-gradient(45deg, transparent 5%, #fff 15%);
      border-right: 0.7rem solid #ff7b00;
      color: #ff7b00;
    }

    &::after {
      --slice-0: inset(50% 50% 50% 50%);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      clip-path: var(--slice-0);
    }
  }

  &--light {
    background: transparent;
    color: #00324a;
    border: 0.1rem solid #ffd300;
    box-sizing: border-box;

    &:hover {
      background: #ffd300;
    }
  }
  // &--small {
  // }
  &--big {
    font-size: 1.5rem;
  }

  &--scroll-top {
    display: none;
    position: fixed;
    z-index: 99999;
    right: 0;
    bottom: 125px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    text-decoration: none;

    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f077";
      font-weight: 700;
    }
  }
  &--hide {
    opacity: 0;
    animation: fadeOutRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  }
  &--visible {
    opacity: 1;
    animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  }
}
