.news {
  li {
    margin-bottom: 1rem;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 0.5rem;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    article {
      position: relative;
      display: flex;
      min-height: 200px;
    }

    &:hover {
      article {
        .post-image {
          transform: scale(1.04);
        }
        .body {
          box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%),
            10px 3px 10px -4px rgb(0 0 0 / 30%);
        }
      }
    }

    .date {
      font-family: Calibri, Arial, serif;
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.5);
    }

    .post-image {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.2);
      width: 200px;
      height: 200px;
      border-radius: 0.1rem;
      box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%),
        0 1px 2px rgb(0 0 0 / 30%);
      transition: all 300ms;
    }

    .body {
      background: white;
      box-shadow: inset 0 0 0 0px rgb(255 255 255 / 60%),
        -10px 13px 14px -8px rgb(0 0 0 / 30%);
      max-height: 180px;
      margin: 10px 0 10px 150px;
      padding: 1rem;
      box-sizing: border-box;
      border-radius: 0.4rem;
      transition: all 300ms;

      .link {
        color: rgba(0, 0, 0, 0.8);
      }
    }

    h3 {
      color: rgba(0, 0, 0, 0.8);
      text-transform: none;
      line-height: 1.3rem;
      font-size: 1rem;
      margin-top: 0.2rem;
    }

    p {
      font-family: Calibri, Arial, serif;
    }
  }
}
