.sub-menu {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    // margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: all 150ms;
    color: #004465;
    display: flex;
    justify-content: center;

    &:hover,
    &.active {
      color: #ff7b00;
      //   text-decoration: underline;
    }

    &::after {
      content: "|";
      padding: 0 0.5rem;
      color: #004465;
    }
    &:last-child {
      //   margin-right: 0;
      &::after {
        display: none;
      }
    }
  }
}
