@charset "UTF-8";
html,
body {
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  color: #ffffff;
  font-family: Helvetica, Calibri, Arial, serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.link--more-info {
  text-transform: uppercase;
  background: #ffd300;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  margin: 1rem 0;
  font-family: Helvetica, Arial, Tahoma, serif;
  transition: 0.4s all;
}

.link--more-info:hover {
  background-color: #ff7b00;
}

.link--logo {
  margin-left: 1rem;
}

.link--button-all-projects {
  box-sizing: border-box;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Calibri, Arial, serif;
  padding: 0.5rem;
  margin: 1rem 0 2rem 0;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  background: transparent;
  color: #00324a;
  border: 0.1rem solid #ffd700;
  text-align: center;
}
.link--button-all-projects:hover {
  background: #ffd700;
}

a > .fas:hover {
  color: white;
  transition: 0.5s all;
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
}

.fas {
  color: rgba(255, 255, 255, 0.5);
  -webkit-animation: change-color 4s ease 0s infinite normal;
  -moz-animation: change-color 4s ease 0s infinite normal;
  -ms-animation: change-color 4s ease 0s infinite normal;
  animation: change-color 4s ease 0s infinite normal;
  font-size: 4rem;
  margin-bottom: 4rem;
}

@-webkit-keyframes change-color {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: white;
  }
}
@keyframes change-color {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: white;
  }
}
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ETmodules;
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  text-transform: none;
  content: attr(data-icon);
}

.button-hide {
  opacity: 0;
  -webkit-animation: fadeOutRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: fadeOutRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: fadeOutRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeOutRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.button-visible {
  opacity: 1;
  -webkit-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeInRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.button-scroll-top {
  display: none;
  position: fixed;
  z-index: 99999;
  right: 0;
  bottom: 125px;
  padding: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.button-scroll-top:before {
  content: "2";
}

a[target^=_blank]:after,
a[href^="tel:"]:after,
a[href^="mailto:"]:after {
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  font-style: normal;
  padding-left: 0.5rem;
}

a[target^=_blank]:after {
  content: "";
}

a[href^="mailto:"]:after {
  content: "";
}

a[href^="tel:"]:after {
  content: "";
}

.grecaptcha-badge {
  display: none !important;
}

.wp-block-cover img.wp-block-cover__image-background {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  text-align: center;
  aspect-ratio: auto;
}

.para {
  font-family: Serif, "Times New Roman", Arial;
}
.para--introduction {
  color: white;
}

.hide-information,
.more-information {
  font-family: Helvetica, Arial, Tahoma, serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.page {
  margin: 0 auto;
  padding-top: 50px;
}
.page h1,
.page h2,
.page h3 {
  text-transform: uppercase;
  color: #00324a;
}
.page h1 {
  display: flex;
  align-items: center;
}
.page--board {
  width: 960px;
}
@media only screen and (max-width: 68.125em) {
  .page--board {
    width: 100%;
  }
}
.page--board h1 {
  padding-top: 2rem;
  align-items: stretch;
  padding-left: 2rem;
}
@media only screen and (max-width: 68.125em) {
  .page--board h1 {
    justify-content: center;
    padding-left: 0;
  }
}
.page--board h1:after {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/board.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1rem;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
}
.page--projects h1 {
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 2em;
}
.page--forms, .page--report {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 100px);
}
@media only screen and (max-width: 36.25em) {
  .page--forms, .page--report {
    display: block;
    height: auto;
  }
}
.page--forms h1, .page--report h1 {
  padding-top: 2rem;
  padding-bottom: 0;
}
@media only screen and (max-width: 52.813em) {
  .page--forms h1, .page--report h1 {
    padding-bottom: 1rem;
    text-align: center;
  }
}
.page--contact {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 52.813em) {
  .page--contact {
    width: 100%;
    max-width: 100%;
  }
}
.page--contact h1 {
  padding-top: 2rem;
}
.page--contact h1:after {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/message_orez.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1rem;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
}
.page .illustrate-image {
  background-color: #191919;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 50px);
  display: block;
}
@media only screen and (max-width: 52.813em) {
  .page .illustrate-image {
    display: none;
  }
}
.page--general {
  width: 960px;
}

.section--introduction {
  margin: 2rem 3rem 1rem 3rem;
}
.section--support {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://aksm.cz/wp-content/uploads/2020/04/support_orez-scaled.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
}
.section--support .title {
  margin: 0 0 2rem 6rem;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (max-width: 36.25em) {
  .section--support .title {
    text-align: center;
    margin-left: 0;
  }
}
.section--support img {
  margin-right: 1rem;
  margin-top: 0;
}
@media only screen and (max-width: 52.813em) {
  .section--support img {
    margin-top: 0.5rem;
  }
}
.section--support img:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 52.813em) {
  .section--support img:last-child {
    margin-right: 1rem;
  }
}
.section--board-members {
  font-family: Calibri, Arial, serif;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
@media only screen and (max-width: 52.813em) {
  .section--board-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
  }
}
.section--board-members .president,
.section--board-members .member {
  width: max-content;
  min-width: 22rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.53);
}
.section--board-members .president {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  margin: 0 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
@media only screen and (max-width: 36.25em) {
  .section--board-members .president {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 90%;
  }
}
.section--board-members .president h3 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.section--board-members .president h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0.5rem 0;
  color: #004465;
}
.section--board-members .president dl {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1rem;
  margin: 0;
}
.section--board-members .president img {
  width: 100px;
  grid-row-start: 3;
  grid-row-end: 4;
}
.section--board-members .member {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 36.25em) {
  .section--board-members .member {
    margin-right: 0;
    min-width: 80%;
  }
}
.section--board-members dl {
  color: #00324a;
}
.section--board-members dl a {
  color: #004465;
  font-style: italic;
}
.section--board-members dl a:hover {
  color: #ff7b00;
}
.section--board-members h3 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.section--projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Calibri, Arial, serif;
  padding: 0;
  max-width: 100%;
  transition: all 250ms;
  min-height: 100vh;
}
.section--projects.half {
  max-width: 50%;
}
@media only screen and (max-width: 52.813em) {
  .section--projects.half {
    max-width: 100%;
  }
}
.section--projects.half .grid {
  grid-template-columns: repeat(2, auto);
}
.section--projects ul {
  line-height: 1.7rem;
}
.section--projects ul a {
  color: #00324a;
}
.section--projects ul a:hover {
  color: #ff7b00;
}
.section--forms, .section--reports {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 52.813em) {
  .section--forms, .section--reports {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}
.section--forms h1, .section--reports h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.section--forms ul, .section--reports ul {
  margin: 0;
  line-height: 1.7rem;
}
.section--forms ul a, .section--reports ul a {
  color: #00324a;
}
.section--forms ul a:hover, .section--reports ul a:hover {
  color: #ff7b00;
}
.section--forms .controls, .section--reports .controls {
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-family: Calibri, Arial, serif;
  font-weight: 900;
}
.section--forms .controls a, .section--reports .controls a {
  margin: 0 0.5rem;
  color: #00324a;
}
.section--forms .controls a:hover, .section--reports .controls a:hover {
  color: #ff7b00;
}
.section--general {
  font-family: Calibri, Arial, serif;
  padding: 2rem 10rem 1rem 10rem;
  line-height: 1.7rem;
}
.section--general a {
  color: #00324a;
}
.section--general a:hover {
  color: #ff7b00;
}
.section--general ul {
  padding-left: 2rem;
  list-style-type: disc;
}
@media only screen and (max-width: 52.813em) {
  .section--general {
    padding: 2rem;
  }
}
.section--eu-banner {
  font-family: Calibri, Arial, serif;
  padding: 2rem 0;
  width: 960px;
  margin: 0 auto;
  line-height: 1.7rem;
}
@media only screen and (max-width: 68.125em) {
  .section--eu-banner {
    width: 100%;
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;
  }
}
.section--contact {
  color: #00324a;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  padding: 4rem 0 1rem 0;
  background: rgba(0, 0, 0, 0.04);
  position: relative;
}
@media only screen and (max-width: 52.813em) {
  .section--contact {
    flex-direction: column;
    align-items: center;
  }
}
.section--contact dl {
  font-family: Calibri, Tahoma, Arial, Serif, serif;
  padding: 1.5rem 0;
  margin-top: 0;
}
@media only screen and (max-width: 36.25em) {
  .section--contact dl {
    padding: 1.5rem;
  }
}
.section--contact dl a {
  font-style: italic;
  color: #00324a;
}
.section--contact dl a:hover {
  color: #ff7b00;
}
.section--contact dl h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: #00324a;
}
.section--contact dl dt {
  font-weight: bold;
  padding-top: 0.5rem;
}
.section--contact dl dt:first-child {
  padding-top: 0;
}
.section--contact dl dd {
  line-height: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 1rem;
  margin: 1rem;
  place-items: center;
}
.grid:last-child {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 68.125em) {
  .grid {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 52.813em) {
  .grid {
    grid-template-columns: repeat(1, auto);
  }
}

.wrapper--logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1rem;
}
@media only screen and (max-width: 52.813em) {
  .wrapper--logo {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 36.25em) {
  .wrapper--logo {
    padding-right: 0;
  }
}

.wrapper--google-map {
  background: #e5e3df;
  height: 400px;
  width: 100%;
}

.article {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.article .illustration-image {
  background-color: #191919;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  display: block;
}
@media only screen and (max-width: 52.813em) {
  .article .illustration-image {
    display: none;
  }
}
.article--introduction {
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://aksm.cz/wp-content/uploads/2020/04/csm-2017zapad.jpg");
  background-color: #191919;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125rem;
}
@media only screen and (max-width: 68.125em) {
  .article--introduction header {
    padding: 0 0.5rem;
  }
}
.article--introduction h1 {
  padding-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.article--introduction h2 {
  text-align: center;
}
.article--introduction h3 {
  border-bottom: 5px solid #ffd300;
  width: min-content;
}
.article--projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.article--creation {
  margin-top: 50px;
  height: calc(100vh - 50px);
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 52.813em) {
  .article--creation {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.article--creation .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  background-color: rgba(0, 0, 0, 0.02);
  font-family: Calibri, Arial, serif;
}
@media only screen and (max-width: 52.813em) {
  .article--creation .content {
    padding: 0 2rem;
  }
}
.article--creation .content ul {
  margin: 0;
  line-height: 1.2rem;
}
.article--creation .content ul a {
  color: #00324a;
}
.article--creation .content ul a:hover {
  color: #ff7b00;
}
.article--creation h1 {
  color: #00324a;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.article--creation h2 {
  color: rgba(0, 0, 0, 0.8);
}
.article--focus, .article--activity {
  height: calc(100vh - 50px);
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 52.813em) {
  .article--focus, .article--activity {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.article--focus .content, .article--activity .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  background-color: rgba(0, 0, 0, 0.02);
  font-family: Calibri, Arial, serif;
}
@media only screen and (max-width: 52.813em) {
  .article--focus .content, .article--activity .content {
    padding: 2rem;
  }
}
.article--focus h2, .article--activity h2 {
  color: rgba(0, 0, 0, 0.8);
}
.article--volunteer, .article--prepare {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 52.813em) {
  .article--volunteer, .article--prepare {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.article--volunteer .content, .article--prepare .content {
  background-color: rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
  font-family: Calibri, Arial, serif;
  padding: 2rem 4rem;
}
@media only screen and (max-width: 52.813em) {
  .article--volunteer .content, .article--prepare .content {
    padding: 2rem;
  }
}
.article--volunteer h1, .article--prepare h1 {
  color: #00324a;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.article--volunteer h2, .article--prepare h2 {
  color: rgba(0, 0, 0, 0.8);
}
.article--volunteer span, .article--prepare span {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  font-family: Helvetica, Calibri, Arial, serif;
  padding-bottom: 1rem;
}
.article--volunteer span a, .article--prepare span a {
  color: #004465;
  font-style: italic;
}
.article--volunteer span a:hover, .article--prepare span a:hover {
  color: #ff7b00;
}
.article--volunteer span a:after, .article--prepare span a:after {
  content: "";
  padding: 0;
}
@media only screen and (max-width: 36.25em) {
  .article--volunteer span, .article--prepare span {
    flex-direction: column;
  }
}
.article--volunteer p, .article--prepare p {
  margin-bottom: 0;
}
.article .link--next-article {
  color: #ff6c01;
  font-weight: bold;
  font-family: Helvetica, Calibri, Arial, serif;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 36.25em) {
  .article .link--next-article {
    flex-direction: column;
    text-align: center;
  }
}
.article .link--next-article:after {
  font-family: "Font Awesome 5 Free", serif;
  content: "";
  font-weight: bold;
  font-size: 2rem;
  padding-left: 1rem;
}
.article .link--next-article:hover {
  color: red;
}
.article--history {
  display: block;
  height: auto;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.02);
}
.article--history h2 {
  text-align: center;
  padding: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs {
  text-transform: uppercase;
  font-style: italic;
  padding: 2rem;
  font-weight: bold;
  font-family: Tahoma, Calibri, Arial, serif;
}
.breadcrumbs a {
  color: #004465;
  transition: all 0.2s ease-in-out;
}
.breadcrumbs a:hover {
  color: #ff7b00;
}
.breadcrumbs span {
  color: #ff7b00;
}

.card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 250px;
  height: 250px;
  margin: 0 0.5rem;
  box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card.sdm, .card.csa, .card.kom {
  display: none;
}
.card.preparing .cover h2 {
  background-color: rgba(8, 119, 90, 0.9);
}
.card.over .cover h2 {
  background-color: rgba(0, 68, 101, 0.9);
}
.card .cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 200ms;
  cursor: pointer;
}
.card .cover:hover, .card .cover.active {
  background-color: rgba(0, 0, 0, 0.15);
}
.card .cover:hover .more-information, .card .cover.active .more-information {
  height: 4.5rem;
  opacity: 1;
}
.card .cover:hover h2, .card .cover.active h2 {
  display: none;
}
.card .cover h2 {
  opacity: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
  height: 4.5rem;
  display: flex;
  place-items: center;
  place-content: center;
}
.card .content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #004465;
  color: white;
  width: 50%;
  max-width: 50%;
  font-family: Calibri;
  padding-bottom: 1rem;
  box-sizing: border-box;
  transition: all 250ms;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -18px;
  z-index: 9999;
}
@media only screen and (max-width: 52.813em) {
  .card .content {
    width: 100%;
    max-width: 100%;
  }
}
.card .content.hidden {
  overflow: hidden;
  right: -50%;
}
@media only screen and (max-width: 52.813em) {
  .card .content.hidden {
    right: -100%;
  }
}
.card .content h2 {
  color: white;
  opacity: 1;
  text-align: center;
  margin: 1rem 0;
}
.card .content a {
  text-decoration: underline;
  color: white;
  transition: all 250ms;
}
.card .content a:hover {
  color: #ff7b00;
  text-decoration: none;
}
.card .content img {
  height: auto;
}
.card .content h3 {
  color: white;
  font-size: 0.95rem;
  font-style: italic;
  text-transform: none;
  text-align: center;
}
.card .content h3 + figure {
  text-align: center;
  margin-bottom: 0;
}
.card .content h4 {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 1rem;
}
.card .content h4 img {
  margin-right: 0.5rem;
}
.card .content p {
  padding-left: 2.5rem;
  padding-right: 2rem;
}
.card .more-information {
  border: 0;
  opacity: 0;
  cursor: pointer;
  transition: all 250ms;
  text-transform: uppercase;
  background-color: #ff7b00;
  color: white;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  height: 0;
}
.card .hide-information {
  display: flex;
  align-items: center;
  opacity: 1;
  color: white;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: all 250ms;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 1rem;
}
.card .hide-information:hover {
  background-color: transparent;
  border: 0;
}
.card .hide-information:hover::before {
  color: #ff7b00;
}
.card .hide-information::before {
  content: "";
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
  padding-right: 0.5rem;
  font-size: 2rem;
  transition: color 250ms;
}

.divider {
  display: block;
  position: absolute;
  width: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
}

.divider--bottom-intro {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/prechod-sedy.svg");
  background-size: 100% 100px;
  bottom: 0;
  height: 100px;
  z-index: 10;
}

.divider--vertical-center {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/prechod-sedy.svg");
  background-size: 100% 100px;
  bottom: 0;
  height: 100px;
  z-index: 10;
}

.divider--top-support {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/prechod-bily.svg");
  background-size: 100% 25px;
  top: 0;
  height: 25px;
  z-index: 1;
}

.divider--bottom-support {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/prechod-bily.svg");
  background-size: 100% 25px;
  bottom: 0;
  height: 25px;
  z-index: 1;
  transform: rotateX(180deg);
}

.divider--top-contact {
  background-image: url("http://aksm.cz/wp-content/uploads/2020/04/prechod-bily.svg");
  background-size: 100% 25px;
  top: 0;
  height: 25px;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Calibri, Arial, serif;
  width: 100%;
  padding: 0;
  position: relative;
  bottom: 0;
}
.footer .copyright {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: black;
  width: 100%;
  color: white;
}
.footer .copyright .link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.footer .copyright .link:hover {
  color: white;
  text-decoration: underline;
}
@media only screen and (max-width: 36.25em) {
  .footer .copyright {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: 51px;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 68.125em) {
  .header {
    justify-content: space-between;
  }
}

.header--sb {
  justify-content: space-between;
}

.nav {
  z-index: 1;
  padding-left: 1rem;
}

.nav--primary .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0 1rem;
  max-width: 100%;
}
@media only screen and (max-width: 68.125em) {
  .nav--primary .menu {
    padding: 0;
  }
}

.nav--hamburger .menu {
  padding: 0;
}

.nav--primary .menu-item {
  margin: 0 0.5rem;
  display: block;
}
@media only screen and (max-width: 68.125em) {
  .nav--primary .menu-item {
    display: none;
  }
}

.nav--hamburger .menu-item {
  display: none;
}

/* Mobile button - MENU */
.nav--primary .menu .menu-item:first-child {
  display: none;
}
@media only screen and (max-width: 68.125em) {
  .nav--primary .menu .menu-item:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    line-height: normal;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .nav--primary .menu .menu-item:first-child::before {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    color: #004465;
    padding: 0 0.5rem 0 0;
    content: "";
    font-size: 2rem;
  }
}

.nav--hamburger .menu .menu-item:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  line-height: normal;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.nav--hamburger .menu .menu-item:first-child::before {
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  color: #004465;
  padding: 0 0.5rem 0 0;
  content: "";
  font-size: 2rem;
}

/* Close mobile menu button */
.nav--primary .menu--drop-down .menu-item:first-child::before {
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  color: #004465;
  padding: 0 0.5rem 0 0;
  content: "";
  transition: all 0.3s;
}

.menu-item:first-child a {
  border-left: 0;
  padding: 0;
  padding-right: 0.5rem;
  width: min-content;
  width: -moz-min-content;
}
.menu-item:first-child a:hover {
  border: 0;
}

.nav--primary a {
  color: #004465;
  transition: all 0.2s linear;
  position: relative;
  line-height: 3.2rem;
  display: inline-block;
}
@media only screen and (max-width: 68.125em) {
  .nav--primary a {
    width: 100%;
    border-left: 0.3rem solid transparent;
    padding: 0 0.5rem;
  }
}
.nav--primary a:hover {
  color: #ff7b00;
}
@media only screen and (max-width: 68.125em) {
  .nav--primary a:hover {
    border-left: 0.3rem solid #ff7b00;
  }
}
.nav--primary a:hover:before {
  height: 5px;
}
@media only screen and (max-width: 68.125em) {
  .nav--primary a:hover:before {
    height: 0;
  }
}
.nav--primary a:before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #ff7b00;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav--primary .current-menu-ancestor > a,
.nav--primary .current-menu-item > a {
  color: #ff7b00;
}
.nav--primary .current-menu-ancestor > a:before,
.nav--primary .current-menu-item > a:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #ff7b00;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu--drop-down .current-menu-item > a {
  border-left: 0.3rem solid #ff7b00;
}
.menu--drop-down .current-menu-item > a:before {
  height: 0;
}

.menu .menu-item-has-children::after {
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  color: white;
  padding: 0 0 0 0.4rem;
  content: "";
}

.nav--primary .menu--drop-down {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  /* padding-right: 1rem; */
  background-color: white;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
}

.menu--drop-down .menu-item {
  display: block;
  margin: 0;
  padding-left: 1rem;
  line-height: 2rem;
}
@media only screen and (max-width: 68.125em) {
  .menu--drop-down .menu-item {
    padding-left: 0;
  }
}

/* Top margin first in drop down menu*/
.menu--drop-down .menu-item-11 {
  margin-top: 1rem;
}

.sub-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub-menu .item {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: all 150ms;
  color: #004465;
  display: flex;
  justify-content: center;
}
.sub-menu .item:hover, .sub-menu .item.active {
  color: #ff7b00;
}
.sub-menu .item::after {
  content: "|";
  padding: 0 0.5rem;
  color: #004465;
}
.sub-menu .item:last-child::after {
  display: none;
}

.list {
  color: white;
  font-family: Calibri, serif, "Times New Roman", Arial;
  line-height: 1.5rem;
  max-width: 50%;
}
@media only screen and (max-width: 52.813em) {
  .list {
    max-width: 75%;
  }
}
@media only screen and (max-width: 36.25em) {
  .list {
    max-width: 90%;
  }
}

.list--introduction-2 {
  margin-bottom: 2rem;
}

.list--introduction-1 li:nth-child(2):before {
  content: url("http://aksm.cz/wp-content/uploads/2020/04/reunion-e1577987252103.png");
}

.list--introduction-1 li:nth-child(3):before {
  content: url("http://aksm.cz/wp-content/uploads/2020/04/education-e1577987152212.png");
}

.list--introduction-2 li:nth-child(2):before {
  content: url("http://aksm.cz/wp-content/uploads/2020/04/accreditation-e1577986998693.png");
}

.list--introduction-1 li:nth-child(2):before,
.list--introduction-1 li:nth-child(3):before,
.list--introduction-2 li:nth-child(2):before {
  margin-bottom: -0.5rem;
  padding-right: 1rem;
}

.list--introduction-1 li,
.list--introduction-2 li {
  display: flex;
  align-items: center;
}

.contact {
  color: #00324a;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  padding: 1rem 0;
  background: transparent;
}
@media only screen and (max-width: 52.813em) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}
.contact dl {
  font-family: Calibri, Tahoma, Arial, Serif, serif;
  padding: 1.5rem 0;
  margin-top: 0;
}
@media only screen and (max-width: 36.25em) {
  .contact dl {
    padding: 1.5rem;
  }
}
.contact dl a {
  font-style: italic;
  color: #00324a;
}
.contact dl a:hover {
  color: #ff7b00;
}
.contact dl h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.contact dl dt {
  font-weight: bold;
  padding-top: 0.5rem;
}
.contact dl dt:first-child {
  padding-top: 0;
}
.contact dl dd {
  line-height: 1.5rem;
}

.prefooter__link {
  font-style: italic;
}
.prefooter__link:after {
  font-style: normal;
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  color: #00324a;
  padding: 0 0 0 0.4rem;
}

.prefooter__link--map:after {
  content: "";
}

.prefooter__link--tel:after {
  content: "";
}

.prefooter__link--account:after {
  content: "";
}

.wpcf7 {
  padding: 0 1.5rem 1.5rem 1.5rem;
  background-color: transparent;
  color: #004465;
}
.wpcf7 label {
  width: 100%;
}
.wpcf7 input[type=text], .wpcf7 input[type=email] {
  width: 100%;
  box-sizing: border-box;
  line-height: 3rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-family: Calibri, Arial, serif;
  border: solid 0.1rem gold;
  color: #004465;
}
.wpcf7 input[type=submit] {
  width: 100%;
  box-sizing: border-box;
  line-height: 3rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: Calibri, Arial, serif;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  background: #ffffff;
  color: #00324A;
  border: 0.1rem solid #ffd700;
}
.wpcf7 input[type=submit]:hover {
  background: gold;
}
.wpcf7 textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  font-family: Calibri, Arial, serif;
  border: solid 0.1rem gold;
  color: #004465;
}
.wpcf7 input::placeholder, .wpcf7 textarea::placeholder {
  color: #004465;
}
.wpcf7 input[type=text]:focus,
.wpcf7 input[type=email]:focus, .wpcf7 textarea:focus {
  outline: 1px solid gold;
  outline-offset: -2px;
  box-shadow: 0 0 0 2pt gold;
}

.wpcf7-form p {
  margin: 0;
}

.wpcf7-form-control-wrap {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 1rem;
}
@media only screen and (max-width: 68.125em) {
  .row {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 52.813em) {
  .row {
    justify-content: center;
  }
}
@media only screen and (max-width: 36.25em) {
  .row {
    margin-right: 0;
  }
}

.col-md-3 {
  margin-top: 0.5rem;
}
@media only screen and (max-width: 68.125em) {
  .col-md-3 {
    margin-top: 0.5rem;
  }
}

.col-md-3:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 68.125em) {
  .col-md-3:last-child {
    margin-right: 1rem;
  }
}

.item-hover-44.circle.effect4.bottom_to_top a:hover .img,
.item-hover-159.circle.effect4.bottom_to_top a:hover .img,
.item-hover-88.circle.effect4.bottom_to_top a:hover .img {
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

.item-hover-44.circle.effect4 a:hover .img,
.item-hover-159.circle.effect4 a:hover .img,
.item-hover-88.circle.effect4 a:hover .img {
  opacity: 1 !important;
}

.item-hover-44.circle.effect4.colored .info,
.item-hover-159.circle.effect4.colored .info {
  background: rgba(0, 0, 0, 0.9) !important;
}

.item-hover-88.circle.effect4.colored .info {
  background: rgba(0, 0, 0, 0.7) !important;
}

.item-hover-44.circle.effect4.bottom_to_top a:hover .info,
.item-hover-159.circle.effect4.bottom_to_top a:hover .info,
.item-hover-88.circle.effect4.bottom_to_top a:hover .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-hover-44.circle.effect4 .info h3,
.item-hover-159.circle.effect4 .info h3,
.item-hover-88.circle.effect4 .info h3 {
  color: #fff;
  position: static !important;
  letter-spacing: 2px;
  font-size: initial !important;
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.item-hover-88,
.item-hover-44,
.item-hover-159 {
  height: 239px !important;
}

.item-hover-88.circle .img,
.item-hover-44.circle .img,
.item-hover-159.circle .img {
  height: 100% !important;
}

.item_margin {
  margin-bottom: 0 !important;
}

.more-info-fake {
  text-transform: uppercase;
  background: #ffd300;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  margin: 1rem 0;
  font-family: Helvetica, Arial, Tahoma, serif;
}

.prepare-fake {
  text-transform: uppercase;
  background: #ffd300;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  width: 100%;
  margin: 1rem 0;
  font-family: Helvetica, Arial, Tahoma, serif;
}

.wpostahs-slider-design-2 .wpostahs-slider-nav .slick-current .wpostahs-main-title button {
  border-color: #ff7b00;
  background: #ff7b00;
}

.wpostahs-slider-design-2 .wpostahs-slider-nav .slick-current {
  color: #ff7b00;
}

.wpostahs-slider-design-2 .wpostahs-slider-nav .wpostahs-slider-nav-title:hover .wpostahs-main-title button {
  background: #ff7b00;
  transition: all 0.5s ease-in-out;
}

.wpostahs-slider-design-1 .wpostahs-slider-for .wpostahs-centent,
.wpostahs-slider-design-2 .wpostahs-slider-for .wpostahs-centent p {
  text-align: left;
  line-height: 2rem;
  font-family: Calibri, Arial, serif;
  padding: 0 4rem;
  text-indent: 1rem;
}
@media only screen and (max-width: 36.25em) {
  .wpostahs-slider-design-1 .wpostahs-slider-for .wpostahs-centent,
.wpostahs-slider-design-2 .wpostahs-slider-for .wpostahs-centent p {
    padding: 0;
  }
}

.slick-arrow {
  cursor: pointer;
}
