$breakpoints: (
  //min-width
  desktop: 68.125em,
  //max-width
  tablet: 68.125em,
  mobile: 52.813em,
  smallest: 36.25em
);

@mixin mq($key) {
  $size: map-get(
    $map: $breakpoints,
    $key: $key,
  );

  @media only screen and (max-width: $size) {
    @content;
  }
}
